*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 16px is the default browser font-size, so 10/16 = 62.5% to get 10px font size */
  // this base font-size determines value of rem throughout all the css rules
  font-size: 62.5%; // 1rem = 10px for screen 1200 to 1800px

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px >> 9/16px = 56.25% for screen 900 to 1200
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px >> 8/16px = 50% for screen 600 to 900
  }
  @include respond(phone) {
    font-size: 40%; // 1rem = 6.4px
  }

  @include respond(big-desktop) {
    // min-width: 1800
    font-size: 75%; // 1rem = 12px >> 12/16px = 75%
  }

  transition: all 0.5s;
}

body {
  box-sizing: border-box;
  background-color: var(--main-bg);

  // @include respond(tab-port) {
  //   padding: 0;
  // }
}

::selection {
  background-color: $color-accent;
  color: $color-white;
}
