body {
  background-color: #182739;
}

/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #182739;
  color: white;
  padding: 10px;
  font-size: 30px;
}
.nav__name {
  padding-left: 150px;
}

.nav__links li {
  display: inline;
  padding: 15px;
  font-size: 30px;
  /* border-bottom: 2px solid white; */
}

.nav__links a {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #182739;
}

.nav__links a:hover {
  border: 2px solid white;
}

.link__hover {
  background-color: white;
  color: #182739;
}

/* banner */
.banner {
  color: white;
  background-image: url(images/66668.jpg);
  /* background-position: center; */
  background-size: 600px;
  width: 100vw;
  height: 600px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__bio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #182739;
  /* width: 600px; */
  padding: 10px;
}

/******* projects **********/
.projects__container {
  display: flex;
  flex-wrap: wrap;
  margin: 200px;
  justify-content: space-around;
  align-items: center;
}

.project__card {
  /* border: 2px solid red; */
  width: 500px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.project__card__infos {
  padding: 15px;
  color: white;
  background: linear-gradient(150deg, #511845, #c70039);
}

.project__card__title {
  text-align: center;
  font-size: 2em;
}

.project__card__description {
  opacity: 0.7;
  font-size: medium;
}

.project__card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project__card__image {
  vertical-align: middle;
  width: 500px;
  /* height: 300px; */
}

.project__card__link {
  text-decoration: none;
  color: white;
  transition: transform 200ms ease-in-out;
}

.project__card__link:hover {
  /* opacity: 0.7; */
  transform: scale(1.15);
}

/* footer */
.footer a {
  color: white;
}
.footer a:hover {
  color: gray;
}

/* .footer {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #d23333;
} */
