@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0-600px:        Phone
600-900px:      Tablet-portrait
900-1200px:     Tablet-landscape
[1200-1800px:]  where current styles apply -- laptop/desktop first approach
1800px+:        Big desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px (in media queries root f-size rules don't affect em size)
so divide breakpoints in pixels by 16 to get ems
600px = 600/16 em = 37.5em etc
900px=56.25em
1200px=75em
1800px=112.5em

ORDER (suggestion) of applying media queries to code base: 
Base + typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
