html[data-theme='light'] {
  --main-bg: #f7f7f7;
  --main-bg-light: #e8e8ee;

  --text-header: #1c1c1c;
  --text-paragraph: #585757;

  --header-border: #bb86fc;
  --toggle-border: white;
  --toggle-btn: #bb86fc;

  --accent: hsl(285, 91%, 52%);
  --accent-shadow: hsl(285, 91%, 30%);

  // project card
  // --card-title-bg: hsl(285, 91%, 52%);
  --card-title-bg: white;
  --btn-bg: hsl(285, 91%, 30%);
  --btn-text: white;

  // for light mode
  //#1c1c1c; //— used mainly for titles and bold text.
  // #585757; //— used primarily for body text.
  // #969696; //— widely used for small text and to fill icons.
  // #E8E8E8; //— used for small details such as borders, dividers and line colors.
}

html[data-theme='dark'] {
  // --main-bg: #1c1c1c;
  --main-bg: rgb(0, 0, 0);
  // --main-bg: #201a25;
  --main-bg-light: rgb(29, 29, 31);
  --text-header: #e8e8e8;
  --text-paragraph: #e8e8e8;

  --header-border: #bb86fc;
  --toggle-border: #bb86fc;
  --toggle-btn: #ffe53d;

  --accent: hsl(285, 91%, 52%);
  --accent2: #ffe53d;
  --accent-shadow: hsl(285, 91%, 30%);

  // project card
  --card-title-bg: black;
  --btn-bg: #ffe53d;
  --btn-bg-hover: #ffe53d;
  --btn-border: hsl(285, 91%, 30%);
  --btn-text: hsl(285, 91%, 30%);
  --btn-text-hover: hsl(285, 91%, 52%);
  --btn-text-active: white;
}

$card-height: 65rem;

@media (min-width: 2200px) {
  $card-height: 90rem;
}
@media (min-width: 1800px) {
  $card-height: 75rem;
}

// COLORS

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e8e8e8;
$color-grey-medium-1: #e8e8e8;
$color-grey-medium-2: #585757;

$color-grey-dark: #777;
$color-grey-dark-1: #999;
$color-grey-darkest: #1c1c1c;

$color-white: #fff;
$color-black: #000;
$color-accent: hsl(285, 91%, 52%);

//FONT
$default-font-size: 1.6rem;

// Margins and spacing
:root {
  --left-margin: 8rem;
  // --card-height-1: minmax(60rem, 1fr);
  // different card heights for different img orientations: sq, port(rait - wider than high), rect (higher than wide)
  --card-height: 50rem;

  @media (min-width: 2000px) {
    --card-height: 80rem;
  }
  @media (min-width: 1600px) {
    --card-height: 68rem;
  }
  // --card-height: 65rem;
  // --card-height: 65rem;
}
