html[data-theme='light'] {
  --main-bg: #f7f7f7;
  --main-bg-light: #e8e8ee;

  // --nav-bg: hsl(285, 91%, 30%);
  --nav-bg: #f7f7f7;
  // --nav-bg: hsl(285, 91%, 30%);
  --nav-btn-border: hsl(285, 91%, 30%);
  --mobile-hamburger-bg: hsl(285, 91%, 52%);
  --mobile-ham-gradient-1: white;
  --mobile-ham-gradient-2: #bb86fc;
  --mobile-ham-text: hsl(285, 91%, 30%);
  --mobile-ham-text-bg-hover: hsl(285, 91%, 30%);
  --mobile-ham-text-hover: #f7f7f7;

  --text-header: #1c1c1c;
  --text-paragraph: #585757;
  --text-nav: #1c1c1c;
  --text-nav-name: #e8e8e8;
  --text-footer: #585757;
  --text-footer-hover-bg: #1c1c1c;

  --header-border: #bb86fc;
  // --header-border: hsl(285, 91%, 30%);

  --toggle-border: white;
  --toggle-btn: hsla(285, 91%, 52%, 0.788);

  --img-shadow: rgba(8, 8, 8, 0.3);

  --accent: hsl(285, 91%, 52%);
  // --accent2: #978097;
  --accent2: #1c1c1c;

  --accent-shadow: hsl(285, 91%, 30%);

  // project card
  --card-title-bg: hsl(285, 91%, 30%);
  --card-title-text: #e8e8e8;

  //stack icons
  --lang-bg: #f7f7f7;
  --lang-icons: #1c1c1c;
  --arrow-hover: hsl(285, 91%, 30%);

  --btn-bg: hsl(285, 91%, 30%);
  --btn-text: #e8e8e8;

  --card-border: #d8d8d8;
  --card-border-back: #969696;
  --card-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

  --card-gradient-1: #f0f0f0;
  --card-gradient-2: #dfdfdf;
  // --card-border: black;

  // for light mode
  //#1c1c1c; //— used mainly for titles and bold text.
  // #585757; //— used primarily for body text.
  // #969696; //— widely used for small text and to fill icons.
  // #E8E8E8; //— used for small details such as borders, dividers and line colors.
}

html[data-theme='dark'] {
  --main-bg: rgb(0, 0, 0);
  --main-bg-light: rgb(29, 29, 31);

  --nav-bg: rgb(0, 0, 0);
  --nav-btn-border: #ffe53d;
  --mobile-hamburger-bg: rgb(0, 0, 0);
  --mobile-ham-gradient-1: hsl(285, 91%, 52%);
  --mobile-ham-gradient-2: #310341;
  --mobile-ham-text: #f7f7f7;
  // --mobile-ham-text-bg-hover: hsl(285, 91%, 30%);
  --mobile-ham-text-bg-hover: #ffe53d;

  --mobile-ham-text-hover: black; //#f7f7f7;

  --text-header: #e8e8e8;
  --text-paragraph: #e8e8e8;
  --text-nav: #e8e8e8;
  --text-nav-name: #e8e8e8;
  --text-footer: #e8e8e8;
  --text-footer-hover-bg: transparent;

  // --header-border: #bb86fc;
  --header-border: hsl(285, 91%, 30%);

  --toggle-border: #bb86fc;
  --toggle-btn: #ffe53d;

  --img-shadow: rgba(14, 14, 14, 0.7);

  --accent: hsl(285, 91%, 52%);
  --accent2: #ffe53d;
  --accent-shadow: hsl(285, 91%, 30%);

  // project card
  --card-title-bg: black; // same as main-bg
  --card-title-text: #e8e8e8;

  --lang-bg: #3e3e3e;
  --lang-icons: #f7f7f7;

  --card-border-back: #969696;

  --card-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  --card-gradient-1: #383838;
  --card-gradient-2: #242424;

  --btn-bg: hsl(285, 91%, 30%);
  --btn-bg-hover: #ffe53d;
  --btn-border: hsl(285, 91%, 30%);
  --btn-text: white;
  --btn-text-hover: hsl(285, 91%, 52%);
  --btn-text-active: white;
}

// COLORS

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e8e8e8;
$color-grey-medium-1: #e8e8e8;
$color-grey-medium-2: #585757;

$color-grey-dark: #777;
$color-grey-dark-1: #999;
$color-grey-darkest: #1c1c1c;

$color-white: #fff;
$color-black: #000;
$color-accent: hsl(285, 91%, 52%);

//FONT
$default-font-size: 1.6rem;

// Margins and spacing
:root {
  --left-margin: 8rem;
  --banner-height: calc(100vh-10rem);

  --left-animation: 3s;
  --rotate-speed: 10s;

  --cube-unit: 35px;
  --box-color: hsl(285, 91%, 30%);
}
