.toggle__box {
  position: fixed;
  // bottom: 0;
  top: 8rem;
  right: 0;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 36px;
  // height: 60px;
  margin: 3rem;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8e8e8;
  // background: white;
  transition: all 0.5s;
  border: 3px solid var(--toggle-border);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.slider:before {
  position: absolute;
  content: '';
  bottom: 14px;
  top: 5px;
  // background-color: var(--main-bg);
  background-color: var(--toggle-btn);
  transition: all 0.5s;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:checked + .slider:before {
  transform: translateX(30px) rotateZ(45deg);
  background-color: var(--toggle-btn);
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  width: 43%;
  height: 43%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotateZ(-45deg);
}
