.section-banner {
  background-color: var(--main-bg-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80rem;
  height: calc(100vh - 8rem);

  border-bottom: 2px solid var(--header-border);
  border-top: 2px solid var(--header-border);

  @media only screen and (max-width: 600px) {
    justify-content: space-between;
  }
}

.banner {
  &__container {
    // contains bio and img as siblings
    width: 100vw;
    min-height: 60rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: 700px) {
      flex-direction: column;
      // justify-content: space-between;
      justify-content: space-evenly;
      height: calc(100vh - 20rem);
    }

    @media only screen and (min-width: 1800px) {
      max-width: 1500px;
    }
  }

  &__divider {
    color: var(--header-border);
  }

  &__bio {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    // align-items: center;
    color: var(--text-header);

    h1,
    h2 {
      // font-size: 2.8rem;
      padding: 1rem 4rem;
    }

    h1 {
      font-size: 4rem;
    }

    @media only screen and (max-width: 700px) {
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 5rem;
    }

    @media only screen and (max-width: 400px) {
      h2 {
        font-size: 2rem;
      }
    }
  }

  &__photo {
    // height: 40rem;
    max-width: 40rem;
    width: 40%;
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: 0 1rem 2rem var(--img-shadow);

    @media only screen and (max-width: 700px) {
      width: 90%;
      height: auto;
      box-shadow: none;
    }
  }
  &__photo:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 2rem 3rem var(--img-shadow);
    @media only screen and (max-width: 600px) {
      box-shadow: none;
    }
  }

  // scroll btn box positioning
  &__btn-box {
    // margin-bottom: 4rem;
    height: 10rem;
    display: flex;
    align-items: flex-start;
    // w20rem
  }
  &__arrow-icon {
    margin-left: 2rem;
    animation: rotate360 var(--rotate-speed) infinite linear;
  }
}

.scroll-down:hover {
  .btn-arrow {
    color: var(--main-bg);

    transform: scale(1.05);
    // font-size: 35px;
  }
}
