.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // background-color: #182739;
  color: var(--text-header);
  padding: 2.5rem;
  font-size: 2rem;

  // position: sticky;
  // top: 0;
  background-color: var(--main-bg);
  z-index: 10;
  border-bottom: 2px solid var(--header-border);
  transition: all 0.5s;

  &__name {
    // padding-left: 150px;
    margin-left: var(--left-margin);
    color: var(--accent);
    &:hover {
      color: rgba($color-accent, 0.8);
    }

    @include respond(tab-land) {
      // 1200px
      margin-left: 1rem;
    }
  }

  &__link {
    // class on the li
    padding: 10px;
    font-size: 1.8rem;
    // border: 2px solid var(--main-bg);
    display: inline;
  }

  &__links a {
    text-decoration: none;
    color: var(--text-header);

    // border-radius: 10px;
    padding: 10px;
    // border: 2px solid var(--main-bg);
    transition: all 0.2s;
  }

  &__links a:hover {
    // border-bottom: 2px solid var(--main-bg);
    border-bottom: 2px solid var(--accent2);

    // color: var(--main-bg);
    // background-color: var(--accent2);
  }
}

.link__hover {
  // background-color: white;
  color: #182739;
}
