.nav {
  display: flex;
  justify-content: space-between;
  // background-color: #182739;
  color: var(--text-header);
  padding: 2rem;
  font-size: 2rem;

  &__name {
    padding-left: 150px;
    color: var(--accent);
    &:hover {
      color: rgba($color-accent, 0.8);
    }
  }

  &__links li {
    display: inline;
    padding: 15px;
    font-size: 1.8rem;
    border: 2px solid var(--main-bg);

    /* border-bottom: 2px solid white; */
  }

  &__links a {
    text-decoration: none;
    color: var(--text-header);

    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--main-bg);
  }

  &__links a:hover {
    border: 2px solid var(--main-bg);
    color: var(--main-bg);
    background-color: var(--accent2);
  }
}

.link__hover {
  // background-color: white;
  color: #182739;
}
