.section-projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__container {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-gap: 6rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around; // aligns rows of wrapped content

  margin: 10rem;

  @media only screen and (max-width: 600px) {
    margin: 8rem 0;
  }
}
